@model LearnSc93Proj.Models.Identity.Identity

<div>
    <img src="@Model.imageUrl" alt="@Model.mediaAlt" />
</div>

@*Templates Competency: + Define a Sitecore Template with different sections and field types*@
    @*/sitecore/templates/Project/Identity/_Identity*@