<!-- Site added to hosts file and IIS bindings -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="sc93sc.contacts.dev.local" patch:after="site[@name='website']"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content"
            startItem="/contacts"
            database="master"
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="50MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"/>
    </sites>
  </sitecore>
</configuration>

<!-- Installation Competency: 
+ Use a patch file to customize the Sitecore configuration.
+ Control how settings are applied and how to control the load order for the configuration files.

+ Configure Sitecore to host multiple websites. -->
<!-- Development Competency: 
    + Build multisite implementations according to recommended practices.
    + Use the include folder to apply configuration patches. -->