<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register
            serviceType="Sitecore.Feature.Contacts.Tests.IBasicContentExtractor, Sitecore.Feature.Contacts.Tests"
            implementationType="Sitecore.Feature.Contacts.Tests.BasicContentExtractor, Sitecore.Feature.Contacts.Tests"
            lifetime="Transient"/>
    </services>
  </sitecore>
</configuration>